.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    background: var(--color-footer);
}

.footer-heading {
    width: 100%;
    text-align: center;

    margin-bottom: 1rem;
}

.footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 1rem;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    
    border: 1px solid #fff;
    text-align: center;

    margin-bottom: 2rem; 
    padding: 0.8rem 2rem;
    cursor: pointer;
}

.footer-btn p {
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    text-align: left;
}

.footer-links div {
    width: 250px;
    margin: 1rem;
}

.footer-links_logo {
    display: flex;
    flex-direction: column;
}

.footer-links_logo img {
    width: 10vw; 
    height: auto; 
    max-width: 150px; 
    min-width: 100px;
}

.footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

.footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;

    margin-bottom: 0.9rem;
}

.footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}

.footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .footer-heading h1 {
        font-size: 38px;
        line-height: 45px;
    }
}

@media screen and (max-width: 550px) {
    .footer-heading h1 {
        font-size: 28px;
        line-height: 34px;
    }

    .footer-btn p {
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (max-width: 400px) {
    .footer-heading h1 {
        font-size: 22px;
        line-height: 26px;
    }
    
    .footer-links div {
        width: 100%; 
        margin: 0.5rem 0; 
    }
}
